<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-around">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Election Surveys</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#Table">Table</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#MetroPOLL">MetroPOLL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ASAL">ASAL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Areda Survey">Areda Survey</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#İEA">İEA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#SAROS">SAROS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Yöneylem">Yöneylem</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Other Companies
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#Artıbir">Artıbir</a></li>
                    <li><a class="dropdown-item" href="#Optimar">Optimar</a></li>
                    <li><a class="dropdown-item" href="#Avrasya">Avrasya</a></li>
                    <li><a class="dropdown-item" href="#Bulgu">Bulgu</a></li>
                    <li><a class="dropdown-item" href="#ORC">ORC</a></li>
                    <li><a class="dropdown-item" href="#MAK">MAK</a></li>
                    <li><a class="dropdown-item" href="#Aksoy">Aksoy</a></li>
                    <li><a class="dropdown-item" href="#GENAR">GENAR</a></li>
                    <li><a class="dropdown-item" href="#Themis">Themis</a></li>
                    <li><a class="dropdown-item" href="#Piar">Piar</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    <div class="container"></div>
    <div class="container">
      <table class="table" id="Table">
        <thead>
          <tr>
            <th scope="col" style="text-align: center" >Company Name</th>
            <th scope="col" style="text-align: center">Sample</th>
            <th scope="col" style="text-align: center">AKP</th>
            <th scope="col" style="text-align: center">MHP</th>
            <th scope="col" style="text-align: center" >BBP</th>
            <th scope="col" style="text-align: center">YRP</th>
            <th scope="col" style="text-align: center">CHP</th>
            <th scope="col" style="text-align: center">İYİ</th>
            <th scope="col" style="text-align: center">DEVA</th>
            <th scope="col" style="text-align: center">GP</th>
            <th scope="col" style="text-align: center">SP</th>
            <th scope="col" style="text-align: center">DP</th>
            <th scope="col" style="text-align: center">YSGP</th>
            <th scope="col" style="text-align: center">TİP</th>
            <th scope="col" style="text-align: center">ZP</th>
            <th scope="col" style="text-align: center">MP</th>
            <th scope="col" style="text-align: center">TDP</th>
            <th scope="col" style="text-align: center">BTP</th>
            <th scope="col" style="text-align: center">Others</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
            <tr>
              <td>{{ d['company'] }}</td>
              <td style="text-align: left" >{{ d['sample'] }}</td>
              <td style="text-align: left" >{{ d['akp_vote'] }}</td>
              <td style="text-align: left" >{{ d['mhp_vote'] }}</td>
              <td style="text-align: left" >{{ d['bbp_vote'] }}</td>
              <td style="text-align: left" >{{ d['yrp_vote'] }}</td>
              <td style="text-align: left" >{{ d['chp_vote']}}</td>
              <td style="text-align: left" >{{ d['iyi_vote'] }}</td>
              <td style="text-align: left" >{{ d['deva_vote'] }}</td>
              <td style="text-align: left" >{{ d['gp_vote'] }}</td>
              <td style="text-align: left" >{{ d['sp_vote'] }}</td>
              <td style="text-align: left" >{{ d['dp_vote'] }}</td>
              <td style="text-align: left" >{{ d['ysgp_vote'] }}</td>
              <td style="text-align: left" >{{ d['tip_vote'] }}</td>
              <td style="text-align: left" >{{ d['zp_vote'] }}</td>
              <td style="text-align: left" >{{ d['mp_vote'] }}</td>
              <td style="text-align: left" >{{ d['tdp_vote'] }}</td>
              <td style="text-align: left" >{{ d['btp_vote'] }}</td>
              <td style="text-align: left" >{{ d['others_vote'] }}</td>
            </tr>
          {% endfor %}
            <tr>
              <td>{{ total[0] }}</td>
              <td>{{ total[1] }}</td>
              <td>{{ total[2] }}</td>
              <td>{{ total[3] }}</td>
              <td>{{ total[4] }}</td>
              <td>{{ total[5] }}</td>
              <td>{{ total[6] }}</td>
              <td>{{ total[7] }}</td>
              <td>{{ total[8] }}</td>
              <td>{{ total[9] }}</td>
              <td>{{ total[10] }}</td>
              <td>{{ total[11] }}</td>
              <td>{{ total[12] }}</td>
              <td>{{ total[13] }}</td>
              <td>{{ total[14] }}</td>
              <td>{{ total[15] }}</td>
              <td>{{ total[16] }}</td>
              <td>{{ total[17] }}</td>
              <td>{{ total[18] }}</td>
            </tr>
        </tbody>
      </table>
    <div class="container"></div>
    </div>
    {% for d in data %}
      <div class="container-lg space">
        <div class="container text-center">
          <div class="row align-items-start" id="{{d['company'] }}">
            <div class="col">
              <h3>{{ d['company'] }}</h3>
            </div>
          </div>
          <div class="row align-items-start">
            <div class="col">
              <img src="data:image/png;base64, {{ bar[loop.index0] }}" width="100%" height="100%">
            </div>
            <div class="col">
              <img src="data:image/png;base64, {{ pie[loop.index0] }}" width="100%" height="100%">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>